* {
  border: 1px solid green;
  margin: 0;
  padding: 0;
}

.desktopJoin {
  display: none;
}

.navbar1 {
  /* sadhyapurta */
  display: none;
}

.logo {
  display: none;
}

.navbar2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar2 a {
  height: 100%;
}

li {
  list-style-type: none;
}

/* homepage section 1 */
.homePageSection {
  background-image: url("images/mobileBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  justify-content: center;
}

.homePage {
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 530px;
  width: 100%;
  padding: 3px;
}

.lineOne {
  font-size: 22px;
  font-weight: 480;
  color: #ec5242;
  font-family: "Lato", sans-serif;
}

.lineTwo {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url("images/linetwobg.png");
  font-family: "cocogoose", sans-serif;
  justify-content: center;
  background-size: cover;
  font-size: 38px;
  font-weight: 1000;
}

.linePara {
  padding: 24px 0;
  background: #f4f4f8;
  margin-top: 28px;
  font-family: "Lato", sans-serif;
  border: 2px solid white;
  color: #1f232b;
}

.lineData {
  font-size: 25px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  line-height: normal;
  color: #272a31;
}

.lineVenue {
  font-family: "Lato", sans-serif;
  margin-top: 0;
  font-size: 16px;
  font-weight: 200;
}

.mainProgram {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  width: 100%;
  height: 860px;
  justify-content: center;
  align-items: center;
}

.mainProgram h2 {
  color: #fff;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
}

.redLine {
  border: 1px solid rgb(170, 35, 35);
  width: 20%;
  margin-top: 5px;
}

/* second page */
.programContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin-top: 4px;
}

.programs {
  display: grid;
  grid-template-columns: 22% 28% 50%;
  background-color: #4d515c;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 92%;
}

.programHeading {
  color: #ec5242;
  font-family: "lato", sans-serif;
}

.programPara {
  color: #fff;
  font-family: "lato", sans-serif;
  font-size: 12px;
}

.mobileJoin {
  width: 50%;
  height: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 4px;
  font-family: 'lato', sans-serif;
  color: #f4f4f8;
}
