* {
    border: 1px solid green;
    margin: 0;
    padding: 0;
}

.navbar1{
    /* sadhyapurta */
    display: none;
}

.hamburgerOpen

.navbar2 {
    display: flex;
    width: 100%;
}
.navbar2 a{
    height: 100%;
}

li {
    list-style-type: none;
  }